@page
@model BankApp.Pages.Customer.ConfirmDeleteModel
@{
}

<h1 class="margin-class">Confirm Delete</h1>
<hr class="primary-color" />

<form method="post">
    <div class="container">
        <div class="row details customer-details-page">

            <h3 class="primary-color">Are you sure you want to delete this customer?</h3>
            <div class="col-md-5 customer-details-row">
                <dl class="row">
                    <dt class="col-sm-4">Customer Id:</dt>
                    <dd class="col-sm-8">@Model.CustomerId</dd>

                    <dt class="col-sm-4">Name:</dt>
                    <dd class="col-sm-8">@Model.FirstName @Model.LastName</dd>

                    <br />
                    <br />

            </div>
        </div>
        <a class="custom-btn custom-border-btn btn back-button mt-2" asp-page="/Customer/CustomerDetails" asp-route-customerId="@Model.CustomerId">Cancel</a>
        <button class="custom-btn custom-border-btn btn delete-button mt-2" type="submit" asp-page-handler="Delete" asp-route-customerId="@Model.CustomerId">Delete</button>
</form>