@page
@model BankApp.Pages.Customer.CreateModel
@{
    var message = ViewData["Message"]?.ToString();
}

<h1 class="margin-class">Create new Customer</h1>
<hr class="primary-color" />

@if (!string.IsNullOrWhiteSpace(message))
{
    <div class="alert alert-warning success-message text-center" role="alert">
        @message
    </div>
}
else
{
    <div class="alert alert-warning text-center invisible" role="alert">
        &nbsp;
    </div>
}

<form method="post">
    <div class="form-style">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.FirstName">First Name</label>
                <input asp-for="@Model.FirstName" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.LastName">Last Name</label>
                <input asp-for="@Model.LastName" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.Gender">Gender</label>
                <select asp-for="@Model.Gender">
                    <option value="" selected disabled>Choose one</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Not specified">Not specified</option>
                </select>
                <div class="validation-container">
                    <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.Streetaddress">Address</label>
                <input asp-for="@Model.Streetaddress" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.Streetaddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.City">City</label>
                <input asp-for="@Model.City" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.Zipcode">Zip Code</label>
                <input asp-for="@Model.Zipcode" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.Zipcode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.Country">Country</label>
                <select asp-for="@Model.Country">
                    <option value="" selected disabled>Choose one</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Finland">Finland</option>
                    <option value="Norway">Norway</option>
                    <option value="Denmark">Denmark</option>
                </select>
                <div class="validation-container">
                    <span asp-validation-for="@Model.Country" class="text-danger"></span>
                </div>
            </div>
            <a class="custom-btn custom-border-btn btn back-button mt-2" asp-page="Index">Back</a>
            <input class="custom-btn custom-border-btn btn search-button mt-2" type="submit" value="Create" />
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="primary-color input-style-second" asp-for="@Model.CountryCode">Country Code</label>
                <input id="countryCode" class="readonly-input" asp-for="@Model.CountryCode" readonly />
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style-second" asp-for="@Model.Birthday">Birthday</label>
                <input placeholder="(Optional)" asp-for="@Model.Birthday" />
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style-second" asp-for="@Model.NationalId">National Id</label>
                <input placeholder="(Optional)" asp-for="@Model.NationalId" />
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style-second" asp-for="@Model.Telephonecountrycode">Phone Country Code</label>
                <input id="phoneCountryCode" class="readonly-input" asp-for="@Model.Telephonecountrycode" readonly />
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style-second" asp-for="@Model.Telephonenumber">Phone Number</label>
                <input placeholder="(Optional)" asp-for="@Model.Telephonenumber" />
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style-second" asp-for="@Model.Emailaddress">Email Address</label>
                <input placeholder="(Optional)" asp-for="@Model.Emailaddress" />
            </div>

        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Country').change(function () {
                var selectedCountry = $(this).val();
                switch (selectedCountry) {
                    case "Sweden":
                        $('#countryCode').val("SE");
                        $('#phoneCountryCode').val("+46");
                        break;
                    case "Finland":
                        $('#countryCode').val("FI");
                        $('#phoneCountryCode').val("+358");
                        break;
                    case "Norway":
                        $('#countryCode').val("NK");
                        $('#phoneCountryCode').val("+47");
                        break;
                    case "Denmark":
                        $('#countryCode').val("DK");
                        $('#phoneCountryCode').val("+45");
                        break;
                    default:
                        $('#countryCode').val("");
                        $('#phoneCountryCode').val("");
                        break;
                }
            });
        });


    </script>
    <partial name="Shared/_ValidationScriptsPartial" />
}

