@page
@model BankApp.Pages.Customer.EditModel
@{
    var message = ViewData["Message"]?.ToString();
}


<h1 class="margin-class">Edit @Model.CustomerVM.FirstName @Model.CustomerVM.LastName</h1>
<hr class="primary-color" />

@if (!string.IsNullOrWhiteSpace(message))
{
    <div class="alert alert-warning success-message text-center" role="alert">
        @message
    </div>
}
else
{
    <div class="alert alert-warning text-center invisible" role="alert">
        &nbsp;
    </div>
}

<form method="post">
    <div class="form-style">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.FirstName">First Name</label>
                <input asp-for="@Model.CustomerVM.FirstName" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.CustomerVM.FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.LastName">Last Name</label>
                <input asp-for="@Model.CustomerVM.LastName" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.CustomerVM.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.Gender">Gender</label>
                <select asp-for="@Model.CustomerVM.Gender">
                    <option value="" selected disabled>Choose one</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Not specified">Not specified</option>
                </select>
                <div class="validation-container">
                    <span asp-validation-for="@Model.CustomerVM.Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.Streetaddress">Address</label>
                <input asp-for="@Model.CustomerVM.Streetaddress" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.CustomerVM.Streetaddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.City">City</label>
                <input asp-for="@Model.CustomerVM.City" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.CustomerVM.City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.Zipcode">Zip Code</label>
                <input asp-for="@Model.CustomerVM.Zipcode" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.CustomerVM.Zipcode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.Country">Country</label>
                <select id="Country" asp-for="@Model.CustomerVM.Country">
                    <option value="" selected disabled>Choose one</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Finland">Finland</option>
                    <option value="Norway">Norway</option>
                    <option value="Denmark">Denmark</option>
                </select>
                <div class="validation-container">
                    <span asp-validation-for="@Model.CustomerVM.Country" class="text-danger"></span>
                </div>
            </div>
            <hr class="primary-color" />
            <a class="custom-btn custom-border-btn btn back-button mt-2" asp-page="/Customer/CustomerDetails" asp-route-customerId="@Model.CustomerId">Back</a>
            <input class="custom-btn custom-border-btn btn search-button mt-2" asp-route-customerId="@Model.CustomerId" type="submit" value="Update" />
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.CountryCode">Country Code</label>
                <input class="readonly-input" asp-for="@Model.CustomerVM.CountryCode" readonly />
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.Birthday">Birthday</label>
                <input placeholder="(Optional)" asp-for="@Model.CustomerVM.Birthday" />
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.NationalId">National Id</label>
                <input placeholder="(Optional)" asp-for="@Model.CustomerVM.NationalId" />
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.Telephonecountrycode">Phone Country Code</label>
                <input class="readonly-input" asp-for="@Model.CustomerVM.Telephonecountrycode" readonly />
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.Telephonenumber">Phone Number</label>
                <input placeholder="(Optional)" asp-for="@Model.CustomerVM.Telephonenumber" />
            </div>
            <div class="form-group col-md-6">
                <label class="primary-color input-style" asp-for="@Model.CustomerVM.Emailaddress">Email Address</label>
                <input placeholder="(Optional)" asp-for="@Model.CustomerVM.Emailaddress" />
            </div>
            <hr class="primary-color" style="margin-top: 68px" />

            <a class="custom-btn custom-border-btn btn delete-button delete-position"
               asp-route-customerId="@Model.CustomerVM.CustomerId"
               asp-route-firstName="@Model.CustomerVM.FirstName"
               asp-route-lastName="@Model.CustomerVM.LastName"
               asp-page="/Customer/ConfirmDelete">
                Delete
            </a>
        </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Country').change(function () {
                var selectedCountry = $(this).val();
                switch (selectedCountry) {
                    case "Sweden":
                        $('#countryCode').val("SE");
                        $('#phoneCountryCode').val("+46");
                        break;
                    case "Finland":
                        $('#countryCode').val("FI");
                        $('#phoneCountryCode').val("+358");
                        break;
                    case "Norway":
                        $('#countryCode').val("NK");
                        $('#phoneCountryCode').val("+47");
                        break;
                    case "Denmark":
                        $('#countryCode').val("DK");
                        $('#phoneCountryCode').val("+45");
                        break;
                    default:
                        $('#countryCode').val("");
                        $('#phoneCountryCode').val("");
                        break;
                }
            });
        });


    </script>
    <partial name="Shared/_ValidationScriptsPartial" />

}

