@page
@model BankApp.Pages.Customer.CustomersModel

<div class="margin-class">
    <h1>All Customers</h1>

    <form method="get">
        <input asp-for="@Model.Q" class="search-input" />
        <input type="hidden" asp-for="@Model.CustomerId" />
        <input class="custom-btn custom-border-btn btn margin-left-20" type="submit" value="Search" />
    </form>

    <form method="get" id="paginationForm" class="mt-3">
        <label for="pagination">Showing</label>
        <select class="margin-left-20" asp-route-pageSize="@Model.PageSize" asp-for="PageSize" id="paginationSelect" name="PageSize" onchange="document.getElementById('paginationForm').submit();">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </form>

    <a asp-page="/Customer/Create" class="custom-btn custom-border-btn btn mt-5">Create new customer <i class="bi bi-plus-circle ml-1"></i></i></a>

    <table class="table customers-table">
        <thead>
            <tr>
                <th class="index-headers-text" scope="col">
                    Id
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="Id"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-up green-color"></i>
                    </a>
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="Id"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-down green-color"></i>
                    </a>
                </th>
                <th class="index-headers-text" scope="col">
                    National Id
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="NationalId"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-up green-color"></i>
                    </a>
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="NationalId"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-down green-color"></i>
                    </a>
                </th>
                <th class="index-headers-text" scope="col">
                    First Name
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="FirstName"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-up green-color"></i>
                    </a>
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="FirstName"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-down green-color"></i>
                    </a>
                </th>
                <th class="index-headers-text" scope="col">
                    Last Name
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="LastName"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-up green-color"></i>
                    </a>
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="LastName"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-down green-color"></i>
                    </a>
                </th>
                <th class="index-headers-text" scope="col">
                    Address
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="Address"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-up green-color"></i>
                    </a>
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="Address"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-down green-color"></i>
                    </a>
                </th>
                <th class="index-headers-text" scope="col">
                    City
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="City"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-up green-color"></i>
                    </a>
                    <a asp-page="/Customer/Index"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-q="@Model.Q"
                       asp-route-sortColumn="City"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-down green-color"></i>
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr class="primary-color">
                    <td>@customer.CustomerId</td>
                    <td> @(string.IsNullOrEmpty(customer.NationalId) ? "Not specified" : customer.NationalId)</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Streetaddress</td>
                    <td>@customer.City</td>
                    <td><a asp-page="/Customer/CustomerDetails" asp-route-customerId="@customer.CustomerId" class="custom-btn custom-border-btn view-button">View</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="flex-item" style="justify-content: space-between">
        @if (Model.CurrentPage != 1)
        {

            <a asp-page="/Customer/Index"
               asp-route-sortColumn="@Model.SortColumn"
               asp-route-customerId="@Model.CustomerId"
               asp-route-q="@Model.Q"
               asp-route-pageSize="@Model.PageSize"
               asp-route-sortOrder="@Model.SortOrder"
               asp-route-pageNumber="@(Model.CurrentPage - 1)"
               class="custom-btn custom-border-btn previous-button">Previous</a>
        }
        <h3>Page @Model.CurrentPage of @Model.TotalPages</h3>
        @if (Model.CurrentPage != Model.TotalPages && Model.TotalPages > 1)
        {
            <a asp-page="/Customer/Index"
               asp-route-sortColumn="@Model.SortColumn"
               asp-route-customerId="@Model.CustomerId"
               asp-route-q="@Model.Q"
               asp-route-pageSize="@Model.PageSize"
               asp-route-sortOrder="@Model.SortOrder"
               asp-route-pageNumber="@(Model.CurrentPage + 1)"
               class="custom-btn custom-border-btn next-button">Next</a>
        }

      

    </div>

</div>
