@page
@model BankApp.Pages.User.CreateUserModel
@{
    var message = ViewData["Message"]?.ToString();
}

<h1 class="margin-class">Create new User</h1>
<hr class="primary-color" />

<form method="post">
    <div class="form-style">
        <div>
            <div class="form-group">
                <label class="primary-color input-style" asp-for="@Model.UserName">Email</label>
                <input asp-for="@Model.UserName" type="email" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="primary-color input-style" asp-for="@Model.Password">Password</label>
                <input type="password" asp-for="@Model.Password" />
            </div>
            <span asp-validation-for="@Model.Password" class="text-danger password-warning"></span>
            <div class="form-group">
                <label class="primary-color input-style" asp-for="@Model.ConfirmPassword">Confirm Password</label>
                <input type="password" asp-for="@Model.ConfirmPassword" />
                <div class="validation-container">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger password-warning"></span>
                </div>
                <div class="form-group">
                    <label class="primary-color input-style" asp-for="@Model.Role">User Role</label>
                    <label class="primary-color mt-2" for="cashier">Cashier</label>
                    <input id="cashier" type="radio" name="role" value="Cashier" checked>
                    <label class="margin-left-20 primary-color mt-2" for="admin">Admin</label>
                    <input id="admin" type="radio" name="role" value="Admin">
                    <div class="validation-container">
                        <span asp-validation-for="@Model.Role" class="text-danger"></span>
                    </div>
                </div>
                <a class="custom-btn custom-border-btn btn back-button-details mt-2" asp-page="/User/Index">
                    Back
                    <i class="fa-light fa-arrow-turn-down-left"></i>
                </a>
                <button class="custom-btn custom-border-btn btn search-button mt-2" type="submit">
                    Create <i class="fa-solid fa-person-circle-plus"></i>
                </button>
                <div class="validation-container">
                    <span asp-validation-for="@Model.CreateStatus" class="text-danger"></span>
                </div>

</form>



<partial name="Shared/_ValidationScriptsPartial" />