@page
@model BankApp.Pages.User.IndexModel
@{
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning delete-message text-center" id="edit-message">
        @TempData["Message"]
    </div>
}

<div class="margin-class">
    <h1>All Users</h1>
    <hr class="primary-color" />
    <a asp-page="/User/CreateUser" class="custom-btn custom-border-btn btn mt-5">Create new User <i class="fa-solid fa-person-circle-plus"></i></a>
    <table class="table customers-table">
        <thead>
            <tr>
                <th class="index-headers-text" scope="col"> User Name</th>
                <th class="index-headers-text" scope="col">Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr class="primary-color user-table">
                    <td class="align-middle">@user.UserName</td>
                    <td class="align-middle">@user.Role</td>
                    <td>
                        <a asp-page="/User/EditUser" asp-route-userId="@user.UserId" class="custom-btn custom-border-btn user-edit-standard">
                        Edit
                            <i class="bi bi-pencil ml-1"></i>
                        </a>
                        <a asp-page="/User/EditUser" asp-route-userId="@user.UserId" class="custom-btn custom-border-btn user-edit-mobile">
                            <i class="bi bi-pencil ml-1"></i>
                        </a>
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        $("#edit-message").delay(3000).fadeOut(1000);
    });
</script>