@page
@model BankApp.Pages.CustomerModel
@{
}

<div class="container">

    <div class="row details">
        <h1 class="top-text">Customer Details</h1>
        <hr />
        <div class="col-md-6">
            <dl class="row">
                @foreach (var c in Model.Customers)
                {

                    <dt class="col-sm-4">Customer Id:</dt>
                    <dd class="col-sm-8">@c.CustomerId</dd>

                    <dt class="col-sm-4">First Name:</dt>
                    <dd class="col-sm-8">@c.FirstName</dd>

                    <dt class="col-sm-4">Last Name:</dt>
                    <dd class="col-sm-8">@c.LastName</dd>

                    <dt class="col-sm-4">Address:</dt>
                    <dd class="col-sm-8">@c.Address</dd>

                    <dt class="col-sm-4">City:</dt>
                    <dd class="col-sm-8">@c.City</dd>

                    <dt class="col-sm-4">Zip Code:</dt>
                    <dd class="col-sm-8">@c.ZipCode</dd>

                    <dt class="col-sm-4">Country:</dt>
                    <dd class="col-sm-8">@c.Country</dd>


                    <dt class="col-sm-4">Birthday:</dt>
                    <dd class="col-sm-8">@c.Birthday</dd>

                    <dt class="col-sm-4">Email:</dt>
                    <dd class="col-sm-8">@c.Email</dd>

                    <hr />
                    <dt class="col-sm-4">Account Number:</dt>
                    <dd class="col-sm-8">
                        <div class="flex-item-account">
                            @foreach (var account in Model.Accounts)
                            {
                                <span>@account.AccountId</span> <br />
                                <a class="account-button custom-btn custom-border-btn btn" 
                                asp-page="/Account" 
                                asp-route-accountId="@account.AccountId"
                                asp-route-firstName="@c.FirstName"
                                asp-route-lastName="@c.LastName">View Account</a>
                            }                        
                   </dd>
                    <dt class="col-sm-4">Total Balance:</dt>
                    <dd class="col-sm-8">@Model.TotalBalance</dd>

                    <div>
                        <a class="custom-btn custom-border-btn btn" onclick="window.history.back()">Return</a>
                    </div>
                }
