@page
@model BankApp.Pages.CustomersModel
@{
}

<div class="margin-classs">
   

    <h1>All Customers</h1>

    <table class="table customers-table">
        <thead>
            <tr>
                <th class="index-headers-text" scope="col">Id</th>
                <th class="index-headers-text" scope="col">
                    First Name
                    <a asp-page="/Customers"
                       asp-route-sortColumn="FirstName"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-up green-color"></i>

                    </a>
                    <a asp-page="/Customers"
                       asp-route-sortColumn="FirstName"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-down green-color"></i>
                    </a>
                </th>

                <th class="index-headers-text" scope="col">
                    Last Name
                    <a asp-page="/Customers"
                       asp-route-sortColumn="LastName"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-up green-color"></i>

                    </a>
                    <a asp-page="/Customers"
                       asp-route-sortColumn="LastName"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-down green-color"></i>
                    </a>
                </th>

                <th class="index-headers-text" scope="col">
                    Country
                    <a asp-page="/Customers"
                       asp-route-sortColumn="Country"
                       asp-route-sortOrder="asc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-up green-color"></i>

                    </a>
                    <a asp-page="/Customers"
                       asp-route-sortColumn="Country"
                       asp-route-sortOrder="desc"
                       style="text-decoration:none">
                        <i class="fa-solid fa-angle-down green-color"></i>
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var supp in Model.Customers)
            {
                <tr class="primary-color">
                    <td>@supp.CustomerId</td>
                    <td>@supp.FirstName</td>
                    <td>@supp.LastName</td>
                    <td>@supp.Country</td>
                    <td><a asp-page="/Customer" asp-route-customerId="@supp.CustomerId" class="custom-btn custom-border-btn">View</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>