@page
@using BankWeb.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="margin-container">
    <h1>Empowering</h1>
    <br />
    <h1 class="empovering">Your Financial Future</h1>
    <table class="table custom-table index-table-margin">
        <tr class="index-headers-text">
            <td>Country</td>
            <td>Customers</td>
            <td>Accounts</td>
            <td>Total Balance</td>
            <td>View Country</td>
        </tr>
        @foreach (var country in Model.CustomersPerCountry)
        {
            <div>
            <tr class="fade-in">
                <td>@country.Key</td>
                <td>@country.Value</td>
                <td>@(Model.AccountsPerCountry.ContainsKey(country.Key) ? Model.AccountsPerCountry[country.Key] : 0)</td>
                <td>@(Model.BalancePerCountry.ContainsKey(country.Key) ? Model.BalancePerCountry[country.Key] : 0)</td>
                <td>
                    <a class="view-country" asp-page="/Country" asp-route-country="@country.Key">View</a>
                </td>
            </tr>
    </div>
        }
    </table>
</div>

