@page
@using BankWeb.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1 class="landing-page-margin">Banking made easy</h1>
<hr class="primary-color" />
<div class="background-image2"></div>

<h2 class="landing-page-margin">Manage your transactions in a very nordic bank</h2>
<hr class="primary-color" />
<div class="margin-container">
    <table class="table custom-table">
        <tr class="index-headers-text">
            <td>Country</td>
            <td>Customers</td>
            <td>Accounts</td>
            <td>Total Balance</td>
            <td>View Country</td>
        </tr>
        @foreach (var country in Model.CustomersPerCountry)
        {
            <div>
            <tr class="fade-in">
                <td class="landing-table">@country.Key</td>
                <td class="landing-table">@country.Value</td>
                <td class="landing-table">@(Model.AccountsPerCountry.ContainsKey(country.Key) ? Model.AccountsPerCountry[country.Key] : 0)</td>
                <td class="landing-table">@(Model.BalancePerCountry.ContainsKey(country.Key) ? Model.BalancePerCountry[country.Key] : 0)</td>
                <td>
                    <a class="custom-btn custom-border-btn" asp-page="/Country" asp-route-country="@country.Key">
                        View
                        <i class="bi bi-eye ml-1"></i>
                        </a>
                </td>
            </tr>
    </div>
        }
    </table>
</div>

