@model BankWeb.Pages.IndexModel

<div class="margin-container flex-item negative-margin">
    @foreach (var country in Model.Countries.Select((value, index) => new { Value = value, Index = index }))
    {
        var countryIndex = country.Index;
        var countryName = country.Value;
        var customers = Model.CustomersByCountry[countryIndex];
        var accounts = Model.AccountsPerCountry[countryIndex];
        var balance = Model.BalancePerCountry[countryIndex];

        <div class="country-box">
            <h2>@countryName</h2>
            <hr class="primary-color" />
            <p class="primary-color">Customers</p>
            <p class="personal-text">@customers</p>
            <p class="primary-color">Accounts</p>
            <p class="personal-text">@accounts</p>
            <p class="primary-color">Total Balance</p>
            <p class="personal-text">@balance</p>
            <a class="custom-btn custom-border-btn" asp-page="/Country" asp-route-country="@countryName">
                View
                <i class="bi bi-eye ml-1"></i>
            </a>
        </div>

    }
</div>
