@page
@using BankApp.ViewModels
@model IndexModel
@{
}

@foreach (var acc in Model.Accounts)
{
    <div class="details">
        <h1>@Model.FirstName @Model.LastName</h1>

        <dt class="col-sm-4">Account Number:</dt>
        <dd class="col-sm-8">@acc.AccountId</dd>

        <dt class="col-sm-4">Balance:</dt>
        <dd class="col-sm-8">@acc.Balance $</dd>
        <hr />

        <div class="account-menu">
            <div class="transactions">
                <h3>Transactions</h3>
            </div>
            <div class="buttons">
                <a class="custom-btn custom-border-btn btn account-button"
                    asp-route-customerId="@Model.CustomerId" 
                    asp-route-accountId="@acc.AccountId"
                    asp-page="/Account/Deposit">Deposit</a>
                <a class="custom-btn custom-border-btn btn account-button"
                   asp-route-customerId="@Model.CustomerId"
                   asp-route-accountId="@acc.AccountId"
                   asp-page="/Account/Withdraw">Withdraw</a>
                <a class="custom-btn custom-border-btn btn account-button"
                   asp-route-customerId="@Model.CustomerId"
                   asp-route-accountId="@acc.AccountId"
                   asp-route-firstName="@Model.FirstName"
                   asp-route-lastName="@Model.LastName"
                   asp-page="/Account/Transfer">Transfer</a>
            </div>
        </div>

        <table class="table custom-table">
            <tr class="index-headers-text">
                <td>Date</td>
                <td>Operation</td>
                <td>Type</td>
                <td>
                    Amount

                </td>
            </tr>

            <hr />

            @foreach (var transaction in acc.Transactions)
            {
                <tr>
                    <td>
                        @transaction.Date.ToShortDateString()
                    </td>
                    <td>
                        @(string.IsNullOrEmpty(transaction.Operation) ? "Information is missing" : transaction.Operation)
                    </td>
                    <td>@transaction.Type</td>
                    @if (transaction.Type == "Debit")
                    {
                        <td style="color: red">@transaction.Amount</td>
                    }
                    else
                    {
                        <td style="color: green">@transaction.Amount</td>
                    }
                </tr>
            }
        </table>
        <div class="flex-item">
            <a class="custom-btn custom-border-btn btn" onclick="window.history.back()">Back</a>
            <button id="load-more-btn" class="custom-btn custom-border-btn btn">Load More</button>
        </div>
    </div>
}
