@page
@model BankApp.Pages.Account.IndexModel
@{
}

<div class="details">
    <h1>@Model.FirstName @Model.LastName</h1>
    <hr />
    <dd class="col-sm-4">Account Number: <span class="small-margin white-text">@Model.AccountId</span></dd>

    <dd class="col-sm-4 mt-2">Balance: <span class="small-margin green-color-text">@Model.AccountBalance</span></dd>
    <div class="validation-container" style="bottom: 0.8em">
        <span asp-validation-for="@Model.AccountBalance" class="text-danger"></span>
    </div>
    <hr />

    <div class="account-menu">
        <div class="transactions">
            <h3>Transactions</h3>
        </div>
        <div class="buttons">
            <a class="custom-btn custom-border-btn btn account-button"
               asp-route-customerId="@Model.CustomerId"
               asp-route-accountId="@Model.AccountId"
               asp-page="/Account/Deposit">
                Deposit
                <i class="bi bi-plus-circle ml-1"></i>
            </a>

            <a class="custom-btn custom-border-btn btn account-button"
               asp-route-customerId="@Model.CustomerId"
               asp-route-accountId="@Model.AccountId"
               asp-page="/Account/Withdraw">
                Withdraw
                <i class="fa-light fa-money-simple-from-bracket"></i>
            </a>

            <a class="custom-btn custom-border-btn btn account-button"
               asp-route-customerId="@Model.CustomerId"
               asp-route-accountId="@Model.AccountId"
               asp-route-firstName="@Model.FirstName"
               asp-route-lastName="@Model.LastName"
               asp-page="/Account/Transfer">
                Transfer
                <i class="fa-sharp fa-light fa-money-bill-transfer"></i>
            </a>

        </div>
    </div>

    <table class="table custom-table mt-2">
        <thead>
            <tr class="index-headers-text">
                <td>Date</td>
                <td>Operation</td>
                <td class="type-column">Type</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody id="transaction-data">
        </tbody>
    </table>

    <div class="account-buttons">
        <a class="custom-btn custom-border-btn btn back-button" asp-page="/Customer/CustomerDetails" asp-route-customerId="@Model.CustomerId">Back
            <i class="fa-light fa-arrow-turn-down-left"></i>
        </a>

        <a id="load-more-btn" href="#" class="custom-btn custom-border-btn btn" onclick="showMore()">Show More <i class="bi bi-eye ml-1"></i></a>

        <form method="post">
            <input type="hidden" name="accountId" value="@Model.AccountId" />
            <input type="hidden" name="customerId" value="@Model.CustomerId" />
            <input type="hidden" name="firstName" value="@Model.FirstName" />
            <input type="hidden" name="lastName" value="@Model.LastName" />
            <input type="hidden" name="accountBalance" value="@Model.AccountBalance" />

            <button class="custom-btn custom-border-btn btn delete-button" asp-route-accountBalance="@Model.AccountBalance" type="submit">
                Delete
                <i class="bi bi-trash3"></i>
            </button>
      
        </form>
    </div>
</div>


@section Scripts
{
    <script>
        let pageNo = 1;
        let accountId = @Model.AccountId;

        document.addEventListener("DOMContentLoaded", function () {
            showMore();
        });

        function showMore() {
            event.preventDefault();
            fetch(`/Account/Index?handler=ShowMore&pageNo=${pageNo}&accountId=${accountId}`)
                .then((response) => response.json())
                .then((json) => {
                    pageNo++;
                    json.transactions.forEach(drawElements);
                });
        }

        function drawElements(transaction) {
            const tableRow = document.createElement('tr');

            tableRow.innerHTML = `
                                <td>${transaction.date}</td>
                                <td>${transaction.operation || "Information is missing"}</td>
                                <td>${transaction.type}</td>
                                <td style="color: ${transaction.type === "Debit" ? "red" : "green"}">${transaction.amount}</td>
                            `;

            document.querySelector('#transaction-data').appendChild(tableRow);
        }
    </script>
}
