@page
@model BankApp.Pages.Account.NewAccountModel
@{
}

<h1 class="margin-class">Create new Account</h1>
<h3 class="primary-color">For @Model.FirstName @Model.LastName</h3>
<hr class="primary-color" />


<form method="post">
    <div class="form-group">
        <label class="primary-color input-style" asp-for="@Model.AccountVM.Frequency">Frequency</label>
        <select asp-for="@Model.AccountVM.Frequency">
            <option value="" selected disabled>Choose one</option>
            <option value="AfterTransaction">After Transaction</option>
            <option value="Monthly">Monthly</option>
            <option value="Weekly">Weekly</option>
        </select>
        <span asp-validation-for="@Model.AccountVM.Frequency" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="primary-color input-style" asp-for="@Model.AccountVM.Balance">Deposit</label>
        <input asp-for="@Model.AccountVM.Balance" />
        <span asp-validation-for="@Model.AccountVM.Balance" class="text-danger"></span>
    </div>
    <a class="custom-btn custom-border-btn btn back-button mt-2" asp-page="/Customer/CustomerDetails" asp-route-customerId="@Model.CustomerId">Back</a>
    <input class="custom-btn custom-border-btn btn mt-2 margin-left-20" type="submit" value="Create" />
    </form>