@page
@model BankApp.Pages.Account.TransferModel
@{
    var message = ViewData["Message"]?.ToString();
}

<h1 class="margin-class">Transfer</h1>
<hr class="primary-color" />

<form method="post">
    <dt class="col-sm-4 primary-color">Balance:</dt>
    <dd class="col-sm-8 personal-text">@Model.AccountBalance</dd>
    <hr />

    <div class="flex-item" id="accountSelection">
        <h4 class="header-quote">From account:</h4>
        <input type="hidden" asp-for="AccountId" />
        <h6 class="primary-color margin-left-20 mt-1">@Model.AccountId</h6>
    </div>
    <div id="customerSelection">
        <div id="customerInfo">
            <div class="form-group mt-2" id="transferAmount">
                <label class="primary-color input-style-account" asp-for="TransferAccountId">Receiver</label>
                <input asp-for="TransferAccountId" placeholder="Enter an Account Id" />
                <div class="validation-container">
                    <span asp-validation-for="TransferAccountId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-4" id="transferAmount">
                <label class="primary-color input-style-account" asp-for="TransferAmount">Amount</label>
                <input asp-for="TransferAmount" />
                <div class="validation-container">
                    <span asp-validation-for="TransferAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-4">
                <label class="primary-color input-style-account" asp-for="Comment">Comment</label>
                <input asp-for="Comment" />
                <div class="validation-container">
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
            </div>
            <div class="mt-5">
                <a class="custom-btn custom-border-btn btn back-button"
                   asp-page="/Account/Index"
                   asp-route-customerId="@Model.CustomerId"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-firstName="@Model.FirstName"
                   asp-route-lastName="@Model.LastName">
                    Back
                    <i class="fa-light fa-arrow-turn-down-left"></i>
                </a>
                <button class="custom-btn custom-border-btn btn button-margin" type="submit">
                    Transfer <i class="fa-sharp fa-light fa-money-bill-transfer"></i>
                </button>
            </div>
        </div>
</form>

<partial name="Shared/_ValidationScriptsPartial" />